<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/kamal/IdeaProjects/Fitpeo/src/test/java/org/fitpeo/RevenueCalculatorTest.java">
    <classes>
        <class name="org.fitpeo.RevenueCalculatorTest">
            <methods>
                <include name="testOpenRevenueCalculator"/>
                <include name="testSliderFunctionality"/>
                <include name="testInputBoxFunctionality"/>
                <include name="testCoverageSelection"/>
            </methods>
        </class>
    </classes>
    </test>
</suite>